{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>goof</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/sass/goof.css" rel="stylesheet" />
</head>

<body>
{{ template "navbar" }}
{{ template "calendar" }}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/underscore.min.js"></script>
<script src="/static/js/backbone.min.js"></script>
</body>

</html>
{{end}}
