<% define "index" %>
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>goof</title>

<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
<link href="/static/sass/goof.css" rel="stylesheet" />
</head>

<body>

<script class="js-template" data-name="calendar" type="text/html"><% template "calendar" %></script>
<script class="js-template" data-name="calendar-multiweek" type="text/html"><% template "calendar-multiweek" %></script>
<script class="js-template" data-name="navbar" type="text/html"><% template "navbar" %></script>
<script class="js-template" data-name="next-events" type="text/html"><% template "next-events" %></script>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/underscore.min.js"></script>
<script src="/static/js/backbone.min.js"></script>
<script src="/static/js/mustache.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/js/goof/Event.js"></script>
<script src="/static/js/goof/Calendar.js"></script>
<script src="/static/js/goof/NextEventsView.js"></script>

<script src="/static/js/goof/main.js"></script>
</body>

</html>
<% end %>
